<%- include('../partials/html-head.ejs') %>
<link rel='stylesheet' href='/stylesheets/plans/index.css' />
<%- include('../partials/nav.ejs') %>

<main>
  <section class='left'>
    <% if (user) { %>
      <h1>Add a plan</h1>
      <form  class="add-edit-form" id="add-plan-form" action="/plans" method="POST">
        <label for='plan-name-input'>Name</label>
        <input type="string" name="name" autocomplete="off" id='plan-name-input' required>
        <label for='plan-date-input'>Date</label>
        <input type="date" name="date" id='planDate-input'>
        <label for='plan-notes-input'>Notes</label>
        <textarea name='notes' id='plan-notes-input'></textarea>
        <button class='main-btn' type="submit">Add Plan</button>
      </form>
      <% } %>
  </section>
  
  <section class='right'>
    <h1>All plans</h1>
    <% if (plans.length === 0) { %>
     <tr>No plans yet!</tr>
    <% } else { %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% plans.forEach(plan => { %>
            <tr>
              <td><%= plan.name %></td>
              <td><%= plan.date?.toDateString() %></td>
              <td>
                <a href="/plans/<%= plan._id %>">
                  <button class='details-btn'>Details</button>
                </a>
              </td>
              <% if (plan.creator.equals(user?.profile._id)) { %>
                <td>
                  <form action='/plans/<%= plan._id %>?_method=DELETE' method='POST'>
                    <button class='delete-btn' type='submit'>⊖</button>
                  </form>
                </td>
              <% } %>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
  </section>
</main>
      
      
      
<%- include('../partials/footer.ejs') %>