<%- include('../partials/html-head.ejs') %>
<link rel='stylesheet' href='/stylesheets/plans/show.css'/>
<%- include('../partials/nav.ejs') %>

<main class="sky" id="top">
  <section>
    <div class='box-head'>
      <h1><%= plan.name %> <span class='small-header'>Details</span></h1>
      <%# Edit the plan if plan creator or member %>
      <% if (isCreator || isMember) { %>
        <a href='/plans/<%= plan._id %>/edit'>
          <button class='main-btn'>Edit Plan</button>
        </a>
        <% } %>
    </div>
    <div class='details-box'>
      <div class='left-column'>
        <p>Name: <span><%= plan.name %></span></p>
        <p>Date: <span><%= plan.date?.toDateString() %></span></p>
        <p>Creator: <span><%= plan.creator.displayName ? plan.creator.displayName : plan.creator.name %></span></p>
        <p>Members:
          <ul>
            <% plan.members.forEach(member => { %>
              <li style='list-style-type: none;'>
                <%= member.displayName ? member.displayName : member.name %>
                <a class='link-no-style' href='/profiles/<%= member._id %>'>
                  <button class='details-btn'>See Profile</button>
                </a>
                <form action='' method='POST'>
                  <button class='delete-btn' type='submit'>⊖</button>
                </form>
              </li>
            <% }) %>
          </ul>
          <%# Add members for creator %>
          <% if (isCreator) { %>
            <form id='add-member-form' action='/plans/<%= plan._id %>/members?_method=PATCH' method='POST'>
              <select name='memberId'>
                <% creatorFriends.forEach(friend => { %>
                  <option value='<%= friend._id %>'><%= friend.displayName ? friend.displayName : friend.name %></option>
                <% }) %>
              </select>
              <button class='sub-btn' type='submit'>Add Member</button>
            </form>
          <% } %>
       </p>
      </div> 
      
      <div class='right-column'>
        <p>Notes: <span><%= plan.notes %></span></p>
        <p>Tasks: 
          <ul>
            <% plan.tasks.forEach(task => { %>
              <li style='list-style-type: none;'>
                <%= task.name %>
                <% if (isCreator || isMember) { %>
                  <a class='link-no-style' href='/plans/<%= plan._id %>/tasks/<%= task._id %>'>
                    <button class='details-btn'>Details</button>
                  </a>
                <% } %>
                <% if (isCreator || task.creator.equals(user?.profile._id)) { %>
                  <i class="fas fa-solid fa-pencil"></i>
                  <form action='/plans/<%= plan._id %>/tasks/<%= task._id %>?_method=DELETE' method='POST'>
                    <button class='delete-btn' type='submit'>⊖</button>
                  </form>
                <% } %>
              </li>
            <% }) %>
          </ul>
          <%# Add task for creator and members %>
          <% if (isCreator || isMember) { %>
            <a href='/plans/<%= plan._id %>/tasks/new'>
              <button class='sub-btn'>Add Task</button>
            </a>
          <% } %>
        </p>
      </div> 
    </div>
  </section>
        
  <section>
    <%# Add comment also for creator's friends %>
    <% if (isCreator || isCreatorsFriend) { %>
      <form class="comment-form" id="plan-comment-form" action="/plans/<%= plan._id %>/comments" method="POST">
        <div class='cmt-icon'><img class="profile-icon" src="<%= user.profile.avatar %>" alt="<%= user.profile.name %>'s avatar"><p><%= user.profile.displayName ? user.profile.displayName : user.profile.name %></p></div>
        <textarea name="content" required></textarea>
        <button class='main-btn' type="submit">Add Comment</button>
      </form>
    <% } %>
      
    <%# Show all comments %>
    <ul class='comment-box'>
      <h2>💬 <%= plan.comments.length %> Comments</h2>
      <% plan.comments.forEach(comment => { %>
        <li class='comments'>
          <div class="cmt-content <%= comment.author.equals(user?.profile) ? 'user-cmt' : 'other-cmt'%>">
            <p><%= comment.content %></p>
            <%# Delete comment for creator and its author %>
            <% if (isCreator || comment.author.equals(user?.profile)) { %>
              <div class='cmt-btn'>
                <form action='/plans/<%= plan._id %>/comments/<%= comment._id %>?_method=DELETE' method='POST'>
                  <button class='delete-btn' type='submit'>⊖</button>
                </form>
              </div>
              <% } %>
          </div>
          <div class='cmt-icon'><img class="profile-icon" src="<%= comment.author.avatar %>" alt="<%= comment.author.name %>'s avatar"><p><%= comment.author.displayName ? comment.author.displayName : comment.author.name %></p></div>
        </li>
      <% }) %>
    </ul>
  </section>

</main>

<div id="bottom"></div>
<%- include('../partials/footer.ejs') %>