<%- include('../partials/html-head.ejs') %>
<link rel='stylesheet' href='/stylesheets/plans/show.css'/>
<%- include('../partials/nav.ejs') %>

<main>
  <section>
    <div class='box-head'>
      <h1>Plan <%= plan.name %> Details </h1>
      <%# Edit the plan %>
      <% if (plan.creator.equals(user?.profile._id)) { %>
        <a href='/plans/<%= plan._id %>/edit'>
          <button class='main-btn'>Edit Plan</button>
        </a>
        <% } %>
    </div>
    <div class='details-box'>
      <div>
        <p>Name: <%= plan.name %></p>
        <p>Date: <%= plan.date %></p>
        <p>Creator: <%= plan.creator.name %></p>
        <p>Members:
          <ul>
            <% plan.members.forEach(member => { %>
              <li>
                <img class='profile-avatar' src='<%= member.avatar %>' alt="<%= member.name %>'s avatar"><%= member.name %>
                <a class='link-no-style' href='/profiles/<%= member._id %>'>
                  <button class='details-btn'>See Profile</button>
                </a>
                <form action='' method='POST'>
                  <button class='delete-btn' type='submit'>⊖</button>
                </form>
              </li>
            <% }) %>
          </ul>
          <% if (plan.creator.equals(user?.profile)) { %>
            <form id='add-member-form' action='/plans/<%= plan._id %>/members?_method=PATCH' method='POST'>
              <select name='memberId'>
                <% creatorFriends.forEach(friend => { %>
                  <option value='<%= friend._id %>'><%= friend.name %></option>
                <% }) %>
              </select>
              <button class='sub-btn' type='submit'>Add Member</button>
            </form>
          <% } %>
        </p>
      </div> 
      <div>
        <p>Notes: <%= plan.notes %></p>
        <p>Tasks: 
          <ul>
            <% plan.tasks.forEach(task => { %>
              <li>
                <%= task.name %>
                <a class='link-no-style' href='/plans/<%= plan._id %>/tasks/<%= task._id %>'>
                  <button class='details-btn'>Details</button>
                </a>
                <form action='/plans/<%= plan._id %>/tasks/<%= task._id %>?_method=DELETE' method='POST'>
                  <button class='delete-btn' type='submit'>⊖</button>
                </form>
              </li>
            <% }) %>
          </ul>
          <% if (user) { %>
            <a href='/plans/<%= plan._id %>/tasks/new'>
              <button class='sub-btn'>Add Task</button>
            </a>
          <% } %>
        </p>
      </div> 
    </div>
  </section>
        
  <section>
    <% if (user) { %>
      <form class="comment-form" id="plan-comment-form" action="/plans/<%= plan._id %>/comments" method="POST">
        <textarea name="content"></textarea>
        <button class='main-btn' type="submit">Add Comment</button>
      </form>
    <% } %>
      
    <%# Show all comments %>
    <h2>💬 <%= plan.comments.length %> Comments</h2>
    <ul>
      <% plan.comments.forEach(comment => { %>
        <li>
          <%= comment.author.name %> - <%= comment.content %>
          <% if (comment.author.equals(user?.profile)) { %>
            <form action='/plans/<%= plan._id %>/comments/<%= comment._id %>?_method=DELETE' method='POST'>
              <button class='delete-btn' type='submit'>⊖</button>
            </form>
          <% } %>
        </li>
      <% }) %>
    </ul>
  </section>   
</main>

<%- include('../partials/footer.ejs') %>