  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
  <link rel='stylesheet' href='/stylesheets/nav.css' />
</head>
<body>
  <nav id='navbar'>
    <% if (user) { %>
      <a href='/' class='<%= title === "Home Page" ? "active" : "" %>'>
        <i class="fas fa-solid fa-house"></i> Home
      </a>
      <div class="dropdown">
        <button class='drop-btn'>
          <i class="fas fa-solid fa-caret-down fa-beat-fade"></i> Explore
        </button>
        <div class='dropdown-content'>
          <a href="/plans" class="<%= title === "My Plans" ? "active" : "" %>">My Plans</a>
          <a href="/expenses" class="<%= title === "My Expenses" ? "active" : "" %>">My Expenses</a>
          <a href="/profiles" class="<%= title === "People" ? "active" : "" %>">People</a>
        </div>
      </div>
      
      <div class='split'>
        <button class='no-style-btn' onclick="document.getElementById('profile-log-modal').style.display='block'">
          <img class="profile-icon" src="<%= user.profile.avatar %>" alt="<%= user.profile.name %>'s avatar">
        </button>
      </div>
      <div class='modal' id='profile-log-modal'>
        <span onclick="document.getElementById('profile-log-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <div class='profile-log-modal-content'>
          <div class='profile-avatar-container'>
            <p>Hi, <%= user.profile.displayName ? user.profile.displayName : user.profile.name.split(' ').splice(0, 1).join('') %>!</p>
            <img class="profile-avatar-log" src="<%= user.profile.avatar %>" alt="<%= user.profile.name %>'s avatar">
          </div>
          <div class='logout-container'>
            <a class='link-no-style' href='/profiles/<%= user.profile._id %>'>
              <button class='main-btn'>See your profile</button>
            </a>
            <a href="/auth/logout" class="right">
              <button class='sub-btn'>Logout</button>
            </a>
          </div>
        </div>
      </div>
    <% } %>
  </nav>
    