<%- include('../partials/html-head') %>
<link rel='stylesheet' href='/stylesheets/plans/show.css' />
<%- include('../partials/nav') %>

<main>

  <section>
    <div class='box-head'>
      <h1>Expense <%= expense.name %> Details </h1>
      <%# Edit the expense %>
      <% if (expense.creator.equals(user?.profile._id)) { %>
        <a href='/expenses/<%= expense._id %>/edit'>
          <button class='main-btn'>Edit Expense</button>
        </a>
      <% } %>
    </div>
      <%# Show the expense %>
    <div class='details-box'>
      <div class='left-column'>
        <p>Name: <span><%= expense.name %></span></p>
        <p>Date: <span><%= expense.date?.toDateString() %></span></p>
        <p>Creator: <span><%= expense.creator.name %></span></p>
      </div>
      <div class='right-column'>
        <p>Occasion: <span><%= expense.occasion %></span></p>
        <p>Cost: <span><%= expense.cost %></span></p>
        <p>Notes: <span><%= expense.notes %></span></p>
      </div>
    </div>
  </section>

</main>

<%- include('../partials/footer.ejs') %>