<%- include('../partials/html-head.ejs') %>
<link rel='stylesheet' href='/stylesheets/user.css' />

<%- include('../partials/nav.ejs') %>

<main>
  <div class='typewriter'>
    <h1>Hi. Meet some new friends! </h1>
  </div>
  <div class="card-container">
    <% profiles.forEach(profile => { %>
      <% if (!profile._id.equals(user.profile._id)) { %>
        <div class="card">
          <div class='card-body'>
            <img  class='profile-avatar-log' src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
            <a class="link-no-style" href="/profiles/<%= profile._id %>">
              <h2 class="card-title"><%= profile.name %></h2>
            </a>
          </div>
         
          <div class='add-friend'>
            <% if (profile.friendRequests.some(profile => profile._id.toString() === user.profile._id.toString())) { %>
              <button class='add-friend-btn' disabled>Friend Request Sent!</button>
            <% } else if (profile.friends.some(profile => profile._id.toString() === user.profile._id.toString())) { %>
              <button class='main-btn'>Friends <i class="fas fa-solid fa-user-check"></i></button>
            <% } else { %>
              <form action='/profiles/<%= profile._id %>?_method=PATCH' method='POST'>
                  <button class='add-friend-btn' type='submit'>Add Friend</button>
              </form>
            <% } %>
          </div>
        </div>
      <% } %>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer.ejs') %>