<%- include('../partials/html-head.ejs') %>
<%- include('../partials/nav.ejs') %>

<main>
  <div class="card-container">
    <% profiles.forEach(profile => { %>
      <a class="link-no-style" href="/profiles/<%= profile._id %>">
        <div class="card">
          <img  class='profile-avatar' src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
          <div class="card-body">
            <h1 class="card-title"><%= profile.name %></h1>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer.ejs') %>