<%- include('../partials/html-head.ejs') %>
<link rel='stylesheet' href='/stylesheets/user.css' />
<%- include('../partials/nav.ejs') %>

<main>
  <!-- sidebar for user page -->
  <% if (isSelf) { %>
    <div class="sidebar">
      <a class="tablinks active" onclick="openTab(event, 'info')"><i class="fas fa-solid fa-user"></i><span class='sidebar-head'>My Info</span></a>
      <a class="tablinks" onclick="openTab(event, 'friends')"><i class="fas fa-solid fa-heart"></i><span class='sidebar-head'>My Friends</span></a>
      <a class="tablinks" onclick="openTab(event, 'friend-requests')" ><i class="fas fa-solid fa-user-plus"></i><span class='sidebar-head'>Friend Requests</span></a>
    </div>
  <% } %>
  
  <%# main user profile page %>
  <div class='page-content'>
    <div class ='tabcontent' class='profile-box' id='info'>
      <div class='profile-name-box'>
        
        <%# option to send friend request when viewing other profiles %>
        <% if (!isSelf) { %>
          <h1 class='name-title'><%= profile.name %></h1>
          <% if (profile?.avatar) { %>
            <img class="profile-avatar" src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
          <% } %>
          <% if (profile.friendRequests.some(profile => profile._id.toString() === user.profile._id.toString())) { %>
            <button class='hover-btn' class='no-click'>Friend Request Sent!</button>
          <% } else if (profile.friends.some(profile => profile._id.toString() === user.profile._id.toString())) { %>
            <button class='main-btn' class='no-click'>Friends <i class="fas fa-solid fa-user-check"></i></button>
          <% } else { %>
            <form action='/profiles/<%= profile._id %>?_method=PATCH' method='POST'>
              <button class='main-btn'>Add Friend</button>
            </form>
          <% } %>
        <% } %>

        <%# option to edit profile for user %>
        <% if (isSelf) { %>
          <h1><%= user ? user.profile.name : "" %></h1>
          <% if (user?.profile.avatar) { %>
            <img class="profile-avatar" src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
          <% } %>
          <a class='link-no-style' href='/profiles/<%= profile._id %>/edit'>
            <button class='main-btn'>Edit your profile</button>
          </a>
        <% } %>
      </div>

      <div class='profile-details-box'>
        <div class='display-name-head'>Display Name:</div>
        <div class='display-name'><%= profile.displayName ? profile.displayName : profile.name %></div>
        <div class='payment-forms-head'>Payment Forms</div>
        <div class='payment-forms'>
          <% if (!profile.zelleId && !profile.venmoId && !profile.paypalId) { %>
            <p>No payment forms saved</p>
          <% } else { %>
            <button class='no-style-btn' onclick="document.getElementById('user-payment-forms').style.display='block'">Show Payment Forms</button>
          <% } %>

          <div id='user-payment-forms' style='display: none;'>
            <% if (profile.zelleId) { %>
              <div>
                  <img class='pm-icons' src='/images/zelle-icon.png' alt='zelle-icon'>
                  <%= profile.zelleId %>
              </div>
            <% } %>
            <% if (profile.venmoId) { %>
              <div>
                <img class='pm-icons' src='/images/venmo-icon.png' alt='venmo-icon'>
                <%= profile.venmoId %>
              </div>
            <% } %>
            <% if (profile.paypalId) { %>
              <div>
                <img class='pm-icons' src='/images/paypal-icon.png' alt='paypal-icon'>
                <%= profile.paypalId %>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    
    <% if (isSelf) { %>
      <%# show friends %>
      <div id="friends" class="tabcontent">
        <% if (profile.friends.length === 0) { %>
              <h1>You don't have any friends yet</h1>
              
              <a class='link-no-style' href='/profiles'>
                <button class='main-btn'>
                  Find friends
                </button>
              </a>
        <% } else {%>
          <h1>Your Friends</h1>
          <ul>
              <div class='card-container'>
              <% profile.friends.forEach(friend => { %>
                <div class='card'>
                  <li style='list-style: none;'>
                    <img class='profile-avatar-log' src='<%= friend.avatar %>' alt="<%= friend.name %>'s avatar">
                        <p><%= friend.name %></p>
                      </a>
                    </a>
                  </li>
                </div>
              <% }) %>
            </div>
            </ul>
        <% } %>
      </div>
      
      <%# show friend requests %>
      <div id="friend-requests" class="tabcontent">
       <% if (isSelf) { %>  
          <% if (profile.friendRequests.length === 0) { %>
            <h1>You don't have any friend requests</h1>
          <% } else { %>
            <div class='card-container'></div>
            <h1> Your Friend Requests</h1>
              <ul>
                <% profile.friendRequests.forEach(friendRequest => { %>
                  <div class='card' class='card-friend'>
                    <li class='link-no-style' style='list-style: none;'>
                      <form action='/profiles/<%= profile._id %>/friends?_method=PATCH' method='POST'>
                        <img class='profile-avatar' src='<%= friendRequest.avatar %>' alt="<%= friendRequest.name %>'s avatar">
                        <p><%= friendRequest.name %> sent you a friend request!</p>
                        <button class='main-btn' type='submit' value='<%= friendRequest._id %>' name='friendRequestId'>Confirm</button>
                      </form>
                    </li>
                    <% }) %>
                  </ul>
                </div>
              <% } %>
          <% } %>
        <% } %>
      </div>

</main>
        
<%- include('../partials/footer.ejs') %>
