<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to PlanPal </h1>
  <h2><%= user ? user.profile.name : "" %></h2>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } else { %>    
    <div id='signInBox'>
      <h3>Get Started ▷</h3>
      <div
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google">
      </div>
      <div
        class="g_id_signin right"
        data-type="icon"
        data-size="large"
        data-theme="filled_blue"
        data-shape="circle">
      </div>
    </div>
  <% } %>

</main>

<%- include('./partials/footer') %>
