<%- include('../partials/html-head.ejs') %>
<link rel='stylesheet' href='/stylesheets/plans/index.css' />
<%- include('../partials/nav.ejs') %>

<main class='add-edit-task purple sky'>
  <h1>Edit task</h1>
  <form class='add-edit-form' id='edit-task-form' action='/plans/<%= plan._id %>/tasks/<%= task._id %>?_method=PUT' method='POST'>
    <label for='taskName-input'>Name</label>
    <input type='text' name='name' autocomplete='off' id='taskName-input' value='<%= task.name %>'>
    <label for='taskDate-input'>Date</label>
    <input type='date' name='date' id='taskDate-input' value='<%= task.date?.toDateString() %>'>
    <label for='taskStatus-select'>Status</label>
    <select name='status' id='taskStatus-select'>
      <option value='<%= task.status %>' selected><%= task.status == 'Done' ? 'Done' : 'Pending'%></option>
      <option value='<%= task.status == 'Done' ? 'Pending' : 'Done' %>'><%= task.status == 'Done' ? 'Pending' : 'Done'%></option>
    </select>
    <label for='taskNotes-input'>Notes</label>
    <textarea name='taskNotes-input' value='<%= task.notes %>'></textarea>
    <button class='main-btn' type='submit'>Save</button>
  </form>
</main>
  
  <%- include('../partials/footer.ejs') %>