<%- include('../partials/html-head.ejs') %>
<%- include('../partials/nav.ejs') %>

<h1>Edit task</h1>
<form class='editForm' id='editTaskForm' action='/plans/<%= plan._id %>/tasks/<%= task._id %>?_method=PUT' method='POST'>
  <label for='taskName-input'>Name</label>
  <input type='string' name='name' autocomplete='off' id='taskName-input' value='<%= task.name %>'>
  <label for='taskDate-input'>Date</label>
  <input type='datetime-local' name='date' id='taskDate-input' value='<%= taskDate %>'>
  <label for='taskStatus-input'>Status</label>
    <select name='status' id='taskStatus-input'>
      <option value='<%= task.status %>' selected><%= task.status == 'Done' ? 'Done' : 'Pending'%></option>
      <option value='<%= task.status == 'Done' ? 'Pending' : 'Done' %>'><%= task.status == 'Done' ? 'Pending' : 'Done'%></option>
    </select>
  <label for='taskNotes-input'>Notes</label>
  <textarea name='taskNotes-input' value='<%= task.notes %>'></textarea>
  <button class='mainBtn' type='submit'>Save</button>
</form>

<%- include('../partials/footer.ejs') %>