<%- include('../partials/html-head.ejs') %>
<link rel='stylesheet' href='/stylesheets/plans/show.css'/>
<%- include('../partials/nav.ejs') %>

<main class='sky purple' id='top'>
  <section>
    <div class='box-head'>
      <h1><%= task.name %> <span class='small-header'>  Details</span></h1>
      <%# Edit the task %>
      <% if (task.creator.equals(user?.profile._id)) { %>
        <a href='/plans/<%= plan._id %>/tasks/<%= task._id %>/edit'>
          <button class='main-btn'>Edit Task</button>
        </a>
        <% } %>
    </div>
      <%# Show the task %>
    <div class='details-box'>
      <div class='left-column'>
        <p>Name: <span><%= task.name %></span></p>
        <p>Date: <span><%= task.date?.toDateString() %></span></p>
        <p>Creator: <span><%= task.creator.displayName ? task.creator.displayName : task.creator.name %></span></p>
        <p>Status: <span><%= task.status %></span></p>
      </div>
      <div class='right-column'>
        <p>Expenses:
          <ul>
            <% task.expenses.forEach(expense => { %>
              <li style='list-style: none;'>
                <%= expense.name %>
                <a class='link-no-style' href='/expenses/<%= expense._id %>'>
                  <button class='details-btn'>Details</button>
                </a>
              </li>    
            <% }) %>
          </ul>
        </p>
        <% if (user) { %>
         <form id='add-expense-form' action='/plans/<%= plan._id %>/tasks/<%= task._id %>/expenses' method='POST'>
          <select name='expenseId'>
            <% expenses.forEach(expense => { %>
              <option value='<%= expense._id %>'><%= expense.name %></option>
            <% }) %>
          </select>
          <button class='sub-btn' type='submit'>Add Expense</button>
         </form>
        <% } %>
        <p>Notes: <span><%= task.notes %></span></p>
      </div>
    </div>
  </section>
  
  <%# Comments Section %>
  <section>
    <% if (user) { %>
      <form class="comment-form" id="task-comment-form" action="/plans/<%= plan._id %>/tasks/<%= task._id %>/comments" method="POST">
        <div class='cmt-icon'><img class="profile-icon" src="<%= user.profile.avatar %>" alt="<%= user.profile.name %>'s avatar"><p><%= user.profile.displayName ? user.profile.displayName : user.profile.name %></p></div>
        <textarea name="content"></textarea>
        <button class='main-btn' type="submit">Add Comment</button>
      </form>
    <% } %>
      
      <%# Show all comments %>
      <h2>💬 <%= task.comments.length %> Comments</h2>
      <ul class='comment-box'>
        <% task.comments.forEach(comment => { %>
          <li class='comments'>
            <div class="cmt-content <%= comment.author.equals(user?.profile) ? 'user-cmt' : 'other-cmt'%>">
              <p><%= comment.content %></p>
              <% if (comment.author.equals(user?.profile)) { %>
                <div class='cmt-btn'>
                  <form action='/plans/<%= plan._id %>/tasks/<%= task._id %>/comments/<%= comment._id %>?_method=DELETE' method='POST'>
                    <button class='delete-btn' type='submit'>⊖</button>
                  </form>
                </div>
                <% } %>
            </div>
            <div class='cmt-icon'><img class="profile-icon" src="<%= comment.author.avatar %>" alt="<%= comment.author.name %>'s avatar"><p><%= comment.author.displayName ? comment.author.displayName : comment.author.name %></p></div>
          </li>
        <% }) %>
      </ul>
  </section>    
</main>

<div id="bottom"></div>
<%- include('../partials/footer.ejs') %>